* {
    font-family: Helvetica;
    font-size: 18px;
}

.nav-bar {
    background-color: rgb(94, 182, 106);
    width: 100%;
    /* border: black solid 2px; */
}
.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4em;
}

.nav-link:hover {
    color: rgb(188, 223, 191);
    font-size: larger
}
.nav-link:active {
    font-size: 17px;
}
.nav-link {
    text-decoration: none;
    color: rgb(45, 45, 45);
    /* border: solid black 2px; */
}
#searchButton {
    border: none;
}
